*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.review{
    min-height:100vh;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    min-height: 500px;
    width: 40%;
    border-radius: 40px;
    padding:2em;
    text-align: center;
    font-size: 1.5rem;
}

.box div{
    margin-bottom:0.5em;
}

.box .image img{
    width:150px;
    height:150px;
    border-radius: 50%;
}

.box .job{
    color:rgb(0, 94, 255);
}

.button-box .prev-btn, .button-box .next-btn{
    width:10%;
    height:30px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.button-box .random{
    margin-top:1em;
    width:30%;
    height:30px;
}

@media screen and (min-width:320px) and (max-width: 1024px) {
    .box{
        padding: 0.5em;
        width:70vw;
    }
}