*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.nav-center{
    background-color:transparent;
    color: rgb(0, 0, 0);
    height:80px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
}

.nav-center a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.nav-center ul{
    list-style-type: none;  
}

.nav-links{
    display: flex;
    gap:4rem;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.btn{
    font-size: 1.5rem;
    width:10%;
    border-radius: 10px;
    height:50px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color: white;
    transition-timing-function: ease-in;
    transition-duration: 0.15s;
}