*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.box{
    height:100vh;
    background-color:lightblue;
}

h1{
    padding-top:1em;
    padding-bottom:1em;
    font-size:3rem;
    text-align: center;
    background-color: lightpink;
    position:sticky;
    top:0px;
}

.footer{
    font-size: 2rem;
    display:flex;
    justify-content: center;
    gap:4rem;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width:100%;
}

.footer a{
    text-decoration: none;
    color:white;
}

